* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ’Arial’, sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 200px;
  height: 200px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3882f6;
  border: none;
  color: white;
  text-decoration: none;
  border-color: #3882f6;
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.footer {
  display: flex;
  padding: 16px;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  padding: 16px;
  justify-content: space-between;
}

.container1 {
  display: flex;
  flex: auto;
  justify-content: space-around;
  flex-direction: row;
  border: 10px solid goldenrod;
}

.container3 {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  gap: 48px;
  border: 10px solid goldenrod;
}

.sign-up-button {
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 45%;
}

.text {
  text-align: center;
}

.arts-container {
  display: flex;
}
